<a href="https://colab.research.google.com/github/miksi0078/BSAI-Python-Track/blob/main/04_Python_Patterns_(Loops_%26_Nested_Loops).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
for i in range(1,10):
  print(i," ")

1
2
3
4
5
6
7
8
9

In [2]:
for i in range(1,10):
  if i%2==0:
    print("even :",i)

even : 2
even : 4
even : 6
even : 8

In [4]:
for i in range(1,10):
  if i%2==0:
    print("even :",i)
  else:
    print("odd; ", i)

odd;  1
even : 2
odd;  3
even : 4
odd;  5
even : 6
odd;  7
even : 8
odd;  9

In [7]:
for i in range(1,10,2):
   print("odd: ", i)

odd:  1
odd:  3
odd:  5
odd:  7
odd:  9

In [8]:
for i in range(1,10):
  print("*"*i)

*
**
***
****
*****
******
*******
********
*********

In [12]:
for i in range(9,0,-1):
  print("#"*i)
print("*"*0)

#########
########
#######
######
#####
####
###
##
#

In [13]:
for i in range(1,10,2):
  print("&"*i)

&
&&&
&&&&&
&&&&&&&
&&&&&&&&&

In [16]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j, end=" ")
    print() #new line

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [17]:
n = 5
for i in range(1, n+1):
    print(" " * (n - i) + "*" * (2*i - 1))

    *
   ***
  *****
 *******
*********

In [18]:
n = 5
for i in range(1, n+1):
    for j in range(1, 2*n):
        if j == n-i+1 or j == n+i-1 or i == n:
            print("*", end="")
        else:
            print(" ", end="")
    print()

    *
   * *
  *   *
 *     *
*********

In [19]:
n = 5  # number of rows

for i in range(1, n+1):
    # print leading spaces
    print(" " * (n - i), end="")

    # print even numbers
    for j in range(1, i+1):
        print(2*j, end=" ")

    print()  # new line

    2
   2 4
  2 4 6
 2 4 6 8
2 4 6 8 10

In [20]:
n = 5  # middle row

# Upper pyramid
for i in range(1, n+1):
    print(" " * (n - i) + "*" * (2*i - 1))

# Lower inverted pyramid
for i in range(n-1, 0, -1):
    print(" " * (n - i) + "*" * (2*i - 1))

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [21]:
n = 5

for i in range(n, 0, -1):  # rows decreasing
    for j in range(1, i+1):  # numbers in each row
        print(j, end=" ")
    print()  # new line

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1